.skills {

    display: flex;
    align-items: center;
    gap: 80px;

    height: 90vh;

    &-left {

        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        margin-left: 100px; 
        padding: 50px;
     
    }

    &-right {

        flex: 1;
        display: flex;
        flex-wrap: wrap;

        padding: 50px;
        margin-right: 70px;
        border: {

            width: 5px;
            radius: 20px;
            style: double;
            color:  #B0C3D6;

        } 
      
    }

    &-description {

        padding-bottom: 30px;
        font-weight: 600;
    }

    &-subscribtion {

        margin: 20px 0px;
    }

    &-titles {

        height: 60px;
        overflow: hidden;
    }

    &-right-img {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
       

    }

    &-slide-left {

        display: flex;
        flex-direction: column;
        animation: move 6s ease-in-out infinite alternate;

        visibility: visible ;	
    }

    &-title-item {

        display: flex;
        align-items: center;

        height: 50px;
    
        font: {

            size: 30px;
            weight: bold;
        } 

        color: #6c7aa8f1;
    }
}

@media screen and (max-width: 480px) {
    
    .skills {

        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0px;

        margin-top: 50px;

        &-left {

            gap: 50px;
            margin-left: 0px;
            padding: 0px;
        }

        &-right {

            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: none;

            padding-bottom: 400px;
            margin-right: 0px;

            height: 30vh;
        }

        &-slide-left {

            justify-content: center;
            align-items: center;
        }

        &-description {

            padding-bottom: 0px;
        }

        &-subscribtion {

            display: none;
        }

        &-right-img {

            align-items: center;
            justify-content: center;
            gap: 50px;

            height: 0px;

        }
    }
}