.skills {

    display: flex;
    align-items: center;
    gap: 80px;

    height: 90vh;

    &-left {

        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        margin-left: 100px; 
        padding: 50px;
     
    }

    &-right {

        flex: 1;
        display: flex;
        flex-wrap: wrap;

        padding: 50px;
        margin-right: 70px;
        border: {

            width: 5px;
            radius: 20px;
            style: double;
            color:  #B0C3D6;

        } 
      
    }


    &-description {

        padding-bottom: 30px;
        font-weight: 600;
    }

    &-subscribtion {

        margin: 20px 0px;
    }

    &-titles {

        height: 60px;
        overflow: hidden;
    }

    &-right-img {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
       

    }

    &-slide-right {

        animation: move 6s ease-in-out infinite alternate;

        visibility: visible ;	
    }

    &-title-item {

        display: flex;
        align-items: center;

        height: 50px;
    
        font: {

            size: 30px;
            weight: bold;
        } 

        color: #6c7aa8f1;
    }
}

@media screen and (max-width: 480px) {
    
    .product-list {

        padding: 10px;

        &-texts {

            width: 100%;
        }
         &-description {

            display: none;
         }
    }
}